@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Shared Style */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn-primary{
    background-color: #1D4ED8;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

/* Navber Section */

.navber{
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.nav-list, li , a{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #575757;
    
}

/* Hero Section */

.hero-contain{
    margin-top: 30px;
    height: 786px;
    background-image: url(/assets/banner.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.hero-contain h1{
    padding-top: 136px;
    font-size: 5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.hero-contain p{
    margin: 0 auto;
    max-width: 829px;
    max-height: 108px;
    padding-top: 13px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
}
#hero-btn{
    margin-top: 278px;
    font-size: 1.5rem;
}

/* Card-Sections */

.card-sec{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.card-sec h2{
    margin-top: 80px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #000102;
}
.card-sec .card{
    margin-top: 56px;
}
.card-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px 20px;
}
.card-info{
    border: none;
    width: 600px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #57575733;
}
.card-info img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-info h5{
    margin-top: 24px;
    color: #2563EB;
    padding-left: 20px;
}
.card-info h4{
    margin-top: 8px;
    color: #0D1B2A;
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}
.card-info p{
    margin-top: 8px;
    color: #575757;
    padding-left: 20px;
    font-size: 0.875rem;
    font-weight: 600;
}

/* Pricing Section */

.pricing-sec{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.pricing-sec h2{
    font-size: 3rem;
    font-weight: 600;
    color: #000102;
    text-align: center;
}
.pricing-sec p{
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
    text-align: center;
    margin-top: 12px;
}
.pricing-card{
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    padding-top: 48px;
    justify-content: space-between;
    padding: 20px;

}
.pcard-info{
    width: 300px;
    height: 340px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.1px 0.1px 8px #57575744;
    border: none;
}
.pcard-info p{
    text-align: left;
}
.pcard-info> .c-head{
    font-size: 0.81rem;
    font-weight: 500;
    color: #888888;
}
.pcard-info> .c-price{
    font-size: 2.75rem;
    font-weight: 600;
    color: #0D1B2A;
}
.pcard-info> p{
    margin-top: -3px;
}
hr{
    margin: 20px auto;
}
.pcard-info> ul>li{
    font-size: 0.875rem;
    line-height: 25px;
    list-style: inside;
    color: #333333;
}
.pcard-info> button{
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
    color: #0D1B2A;
}
#pro-card{
    background-color: #0D1B2A;
}
#pro-card> .c-head{
    color: #93C5FD;
}
#pro-card> .c-price{
    color: #FFFFFF;
}
#pro-card> p{
    color: #ffffffa4;
}
#pro-card> ul>li{
    color: #ffffffcb;
}
#pro-card> button{
    background-color: #2563EB;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

/* Box-Area Section */

.box-area{
    max-width: 90%;
    margin: 80px auto;
    height: 480px;
    background-color: #EDE9FE;
    border: 3px dashed #7C3AED;
    border-radius: 12px;
    text-align: center;
}
.box-area h2{
    margin-top: 170px;
    font-size: 3.93rem;
    font-weight: 700;
    color: #7C3AED;
}
.box-area h4{
    margin-top: 10px;
    font-size: 2.56rem;
    font-weight: 700;
    color: #9F67EA;
}

/* footer section */
footer{
    width: 100%;
    height: 145px;
    background-color: #0D1B2A;
}
.f-text{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.left-text{
    text-align: left;
    margin-top: 75px;
    margin-left: 30px;
    color: #FFFFFF40;
    font-size: 1rem;
    font-weight: 400;
}
.Privacy{
    text-align: right;
    margin-top: 75px;
    margin-left: 50%;
    color: #FFFFFF40;
    font-size: 1rem;
    font-weight: 400;
}
.Terms{
    text-align: right;
    margin-left: 30px;
    margin-top: 75px;
    color: #FFFFFF40;
    font-size: 1rem;
    font-weight: 400;
}